/*
  This file is used for default colors and extensions to the base set of classes
  This should be pretty minimal so the end user can customize as they need!
*/

/* Social network colors */
.bi-circle-twitter, .bi-twitter {
  color: #55acee;
}
.bi-circle-facebook, .bi-facebook {
  color: #3B5998;
}
.bi-circle-google, .bi-google {
  color: #dd4b39;
}
.bi-circle-linkedin, .bi-linkedin {
  color: #007bb6;
}
.bi-circle-pinterest, .bi-pinterest {
  color: #bd081c;
}
.bi-circle-instagram, .bi-instagram {
  color: #E53C5F;
}
.bi-circle-youtube, .bi-youtube {
  color: #FF0000;
}
.bi-circle-tiktok, .bi-tiktok {
  color: #000000;
}
.bi-circle-mastodon, .bi-mastodon {
  color: #6364FF;
}
.bi-circle-googlebusiness, .bi-googlebusiness {
  color: #4A7DE2;
}
.bi-circle-startPage, .bi-startPage {
  color: #2c4bff;
}
.bi-circle-appdotnet {
  color: #4a484c;
}